.nav{
    height: 110px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:rgba(255, 255, 255, 0.97); */
    box-shadow: 0px 1px 5px rgb(248, 247, 247);
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-size: larger;
    padding-top: 40px;
    padding-bottom: 20px;
}
button{
    color:white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    font-weight:550;
}

.logo img{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    background-size: cover;
}


.navUl{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin-right: 20px;
}

.navUl li:hover{
    color: rgb(166, 247, 199);
    border-bottom: 4px solid rgb(166, 247, 199);;
    cursor: pointer;
}

.nav a{
    text-decoration: none;
}

.dropdownbtn{
    display: none;

}

.dropdownbtn img{
    width: 20px;
    height: 20px;
}


@media (max-width:750px) {
    .dropdownbtn{
        display: block;
        border: none;
        padding: 5px;
        margin-right: 50px;
    }
    .navUl{
        display: none;
    }

    .navUlDropdown{
        position: fixed;
        display: flex;
        top: 60px;
        margin-right: 0px;
        right: 0px;
        flex-direction: column;
        width: 150px;
        gap: 15px;
        align-items: start;
        z-index: 1;
        font-size:small;
        font-weight: 600;
        padding: 10px 0px;
        box-shadow: -1px 1px 5px black;
    }

    .navUl li{
        width: 100%;
        padding:2px 0px;
        padding-left: 2px;
        
        
    }
    .navUl li:hover{
/*        
        background-color: rgb(112, 112, 243); */
        /* color: white; */
        padding-left: 10px;
        border-left: 3px solid rgb(166, 247, 199);;
        border-bottom: none;
        /* transition: color 1s ease-in  ; */
    }
}



